@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Martian+Mono:wght@800&family=Oswald:wght@600&family=Space+Mono&display=swap');

.animate {
  animation: fade 2s alternate 1;
  color: white;
}

body {
  margin: 0;
  background-color: #242424;
  user-select: none;
  font-family: 'Cabin', sans-serif;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#text-messages {
  overflow-y: auto;
  height: 400px;
  width: clamp(270px, 35%, 400px);
  background-color: white;
  color: black;
  padding: 10px;
  overflow-x: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  /*box-shadow: 0px 10px 0px rgba(255, 255, 255, 0.8);*/
}

.flex {
 display: flex;
 justify-content: center;
}

nav {
  background-color: rgba(7, 110, 236, 0.927);
      display: flex;
      align-items: center;
      padding: 10px;
      position: relative;
      top: 0;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      margin-bottom: 50px;
}

nav .title {
  font-size: 25px;
  font-weight: bolder;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
}

li {
  list-style: none;
}

img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
}

.send-input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: clamp(270px, 35%, 400px);
  background-color: white;
  padding: 10px;
  margin-bottom: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.send-input-field-flex {
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  width: clamp(270px, 35%, 400px) + 121px;
  word-wrap: break-word;
  word-break: break-all;
  overflow-x: hidden;
  border-bottom: .2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
}

.message-text {
  font-size: 15px;
  margin-top: 40px;
}

.message-info {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.message-sender {
  margin-top: 0px;
  font-size: 14px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.5);
}

.delete-btn {
  color: red;
  cursor: pointer;
  margin-left: auto;
}

.account-flex {
  display: flex;
  gap: 10px;
  margin-left: auto;
}



.delete-flex {
  display: flex;
  margin-left: auto;
}

.sign-in-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: transparent;
  font-weight: bolder;
  padding: .5em .5em;
  transition: .1s;
  border-radius: 15px;
  cursor: pointer;
}

.sign-in-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.one {
  color: #4885ED;
}
.two {
  color: #db3236;
}
.three {
  color: #f4c20d;
}
.five {
  color: #3cba54;
}

svg {
  animation: rotate 1s alternate infinite;
  transition: .2s;
}

@keyframes rotate {
  0% {
    transform: rotate(-26deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-26deg);
  }
}

#no-internet-snackbar,
#connected-snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  background-color: red;
  color: #000;
  font-size: 14px;
}

#connected-snackbar {
  background-color: green;
  color: #fff;
}

.version {
  font-weight: bolder;
}

.footer {
  background-color: rgba(7, 110, 236, 0.927);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  bottom: 0;
  width: 100%;
  position: fixed;
  gap: 5px;
}

.link-git {
  color: white;
  text-decoration: underline;
}

.redirect-main {
  display: flex;
  justify-content: center;
}

.redirect {
  color: white;
  text-align: center;
}

.pOne, .pTwo, .pThree {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  animation: dots 1s ease-in-out infinite;
}

@keyframes dots {
  0%, 20% {
    transform: scale(1);
  }
  80%, 100% {
    transform: scale(0);
  }
}

.pOne {
  animation-delay: 0s;
  background-color: #333;
}

.pTwo {
  animation-delay: 0.3s;
  background-color: #333;
}

.pThree {
  animation-delay: 0.6s;
  background-color: #333;
}

.send-btn {
  margin-top: 20px;
  border: none;
  padding: 7px 15px;
  font-weight: bolder;
  cursor: pointer;
  color: black;
}







